# ==========================================
# ENV Variables for API Server & Dashboard
# ==========================================

# Database Configurations
DATABASE_URL="mysql://root:rootpassword@mysql:3306/wa_gateway_db"

# Redis Config (BullMQ)
REDIS_HOST="redis"
REDIS_PORT=6379

# API Server Configurations
API_PORT=5000
NODE_ENV="development"
JWT_SECRET="changethis_to_random_long_string"

# Dashboard Configurations
NEXT_PUBLIC_API_URL="http://localhost:5000/api"
NEXT_PUBLIC_WS_URL="ws://localhost:5000"

# (Opsional) API Worker URL (Jika memisahkan worker WA ke server lain)
# WA_WORKER_URL="http://worker1.wa.nueradigital.my.id"
